@backcolor-orange : #ff9900;
@backcolor-red : #ec0707;
@backcolor-yellow : #CC6633;
@backcolor-purple : #930EAA;
@backcolor-green : #50b85d;
@backcolor-blue : #52bef0;
@backcolor-gray : #a5a5a5;
@backcolor-gray-light : #f0f2f5;
@backcolor-white : white;

@backcolor-blue-select : #ddf1ff;

@color-red-light : #F56C6C;
@color-red : #ec0707;
@color-red-deep : #b80909;
@color-green : #047612;
@color-purple : #993399;
@color-orange : #ff9900;
@color-orange-deep : #CC6600;
@color-blue : #0998da;
@color-blue-deep : #0000CC;
@color-white : rgb(244, 244, 244);
@color-gray : #a5a5a5;
@color-gray-deep : #5b5b5b;

@bordercolor-gray-light : #e7e7e7;