@box-shadow :2px 2px 4px 0 rgb(201, 201, 201);
@box-shadow-small :1px 1px 2px 0 rgb(201, 201, 201);
@box-shadow-inset :inset 0px 2px 4px 0px rgb(201, 201, 201);
@box-shadow-opposite :0px -3px 4px 0 #c9c9c9;
@border-radius :4px;
@transition-duration :200ms;
@transition-duration-slow :400ms;
@font-size-h1 :26px;
@font-weight-h1 :600;
@font-size-h2 :18px;
@font-weight-h2 :600;
// Height
@height :32px;
@hegiht-small :24px;
@line-height :32px;
@line-height-small :24px;

.hw-form {
  height: @height;
  line-height: @line-height;
}

.hw-form.small {
  height: @hegiht-small;
  line-height: @line-height-small;
}

::-webkit-scrollbar {
  transition-duration: 200ms;
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(201, 201, 202);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  transition-duration: 200ms;
  background: rgb(162, 162, 163);
}